<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Płatność anulowana</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Płatność anulowana</h1>
        <p>Niestety, Twoja płatność została anulowana. Zamówienie nie zostało przetworzone.</p>
    </div>
</body>
</html>