<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Płatność zakończona sukcesem</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Płatność zakończona sukcesem</h1>
        <p>Dziękujemy za dokonanie płatności. Twoje zamówienie zostało pomyślnie przetworzone.</p>
    </div>
</body>
</html>