
@model IEnumerable<Shop.Application.Category.CategoryDto>

@{
    ViewData["Title"] = "Kategorie";
}

<h1>Kategorie</h1>

@if(User.IsInRole("Owner"))
{
    <p>
        <a asp-action="Create">Stwórz</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Nazwa kategorii</th>
            <th>Opis kategorii</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Name
                    
            </td>
            <td>
                    @item.Description
            </td>
                <td>
                    @if (User.IsInRole("Owner"))
                    {        
                    <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edycja</a>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="encodedName" value="@item.EncodedName" />
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
